.sideAds{
   width: 15rem;
   height: 100%;
   background-image: linear-gradient(
       0deg, 
      #16181d 0%, 
      #1d2026 100%
   );
   position: absolute;
   top: 0;
   display: block;
}
.sLeft{
   left: 0;
}
.sRight{
   right: 0;
   transform: rotate(180deg);
}
@media screen and (max-width: 928px) {
   .sideAds{
      display: none;
   }
}